*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray: rgba(102, 112, 133, 1);
  --primary: #175cd3;
}

body {
  min-height: 100dvh;
  background-color: white;
  color: black;
  font-family: Inter, sans-serif;
}

.hero {
  padding: 2.5rem 8rem 6rem;
  height: 90rem;
  background: url('./assets/hero/checkered-background.svg');
}

.navbar {
  background: #f2f4f7;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 6.25rem;
  height: 84px;
  justify-content: space-between;
  border: 1px solid #d0d5dd;
}

.logo {
  height: 29px;
}

.links {
  gap: 2.5rem;
}

.link {
  list-style: none;
  gap: 0.38rem;
  color: var(--gray);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}

.chevron-down {
  height: inherit;
}

.nav-buttons {
  font-weight: 600;
  display: flex;
  gap: 0.5rem;

  .nav-button {
    font-weight: 600;
  }
}

.nav-button {
  border-radius: 6.25rem;
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
}

.button-secondary {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid #98a2b3;
}

.button-primary {
  background: var(--primary);
  color: white;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

.details {
  gap: 3rem;

  .text {
    gap: 1.5rem;
  }

  .text .title {
    font-size: 4rem;
    width: 48rem;
    color: #1d2939;
    letter-spacing: -0.08rem;
    line-height: 4.5rem; /* 112.5% */
    margin-top: 1rem;
  }

  .text p {
    color: #667085;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    width: 41.375rem;
  }
}

/* header */
.header {
  margin: 10rem 0 25.5rem;
  padding: 0 2rem;
}

.header-buttons {
  gap: 1.25rem;

  .nav-button {
    height: 4rem;
    padding: 1rem 1.75rem;
  }
}

.text-primary {
  color: var(--primary);
}

.robot {
  gap: 0.5rem;
  line-height: 1.75rem; /* 155.556% */

  &:hover {
    text-decoration: underline;
  }
}

.robot-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.ratings {
  gap: 0.25rem;
}

.stars {
  gap: 0.25rem;
}

.reviews {
  gap: 1rem;
}

.review-text {
  color: #475467;
  font-size: 1rem;
}

.score {
  margin-left: 0.25rem;
  font-weight: 600;
}

.avatar:not(:nth-child(1)) {
  margin-left: -1rem;
}

.frame {
  border-radius: 1rem;
  border: 1px solid #b2ddff;
  background: #eff8ff;

  /* Shadow/3xl */
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  flex: 1;
  padding: 2rem;
  gap: 2.5rem;
}

.controls {
  gap: 1rem;
}

.controls * {
  border-radius: 6.25rem;
  border: 1px solid #d1e9ff;
  background: #fff;
  padding: 0.75rem;

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  &:hover {
    background: #d1e9ff;
    cursor: pointer;
  }
}

.video {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

/* utilities */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.pointer {
  cursor: pointer;
}
